.service-section-wrapper {
  margin: auto;
  width: 80%;
}

.service-section {
  display: flex;
  flex-direction: column;
  margin-top: 77px;
  gap: 30px;
  margin: auto;
}

.service-section-first-cmn {
  display: flex;
  flex-direction: row;
}

.service-section-headers {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-content: center;
  margin-top: 37px;
}
.about-us-button button {
  height: 42px;
  width: 99px;
  border-radius: 11px;
  border: 1px solid #cad2fc;
  background-color: inherit;
  padding: 10px 15px;
  color: #355efc;
  box-shadow: 0 0 4px #cad2fc;
  font-size: 16px;
  font-weight: 400px;
}

.service-section-headers h3 {
  font-size: 48px;
  color: #011a41;
  width: 85%;
  line-height: 58px;
}

.service-section-headers p {
  font-weight: 400;
  font-size: 16px;
  width: 72%;
  line-height: 24px;
  color: #555555;
}

.service-profits-column {
  border: 1px solid #909de2;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

.service-columns-first,
.service-columns-second,
.service-columns-third {
  display: flex;
  gap: 13px;
  justify-content: flex-start;
  padding-right: 29px;
}
.service-columns-first,
.service-columns-second {
  border-right: 1px solid #909de2;
}

.service-profits-column h5 {
  color: #011a41;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  text-align: left;
}

.service-profits-column p {
  color: #555555;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 17px;
  text-align: left;
}

.statistic-section-wrapper {
  margin-top: 45px;
  background-color: #355efc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-end;
  text-align: center;
  gap: 5px;
  padding: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.statistic-section-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.statistic-section-wrapper h4 {
  font-size: 56px;
  line-break: 67px;
}

.statistic-section-wrapper p {
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
}
.line {
  border: 1px solid #ffffff;
  width: 68.51px;
  align-self: center;
}

/* why-choosing-us-section */
.why-choosing-us-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}

.why-choosing-us-btn {
  padding: 10px 15px;
  color: #355efc;
  font-weight: 400px;
  font-size: 16px;
  background-color: inherit;
  border-radius: 11px;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.36);
  margin-top: 20px;
}

.why-choosing-us-section h3 {
  font-weight: 700px;
  width: 540px;
  line-height: 58px;
  font-size: 48px;
  margin-top: 20px;
}

.why-choosing-us-section p {
  width: 540px;
  font-weight: 400px;
  line-height: 24px;
  font-size: 16px;
  margin-top: 20px;
}

.why-choosing-us-section .explore-more-button {
  margin-top: 20px;
}
.why-choosing-us-right-side {
  gap: 15px;
}
.why-choosing-us-right-side div div {
  width: 258px;
  height: 265px;
}
.fast-execution-boxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.why-choosing-us-right-side {
  display: flex;
}
.fast-executions-third {
  display: flex;
  align-items: center;
}

.fast-execution-white-box {
  width: 260px;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  border-radius: 0.9375rem;
  border: 1px solid #909de2;
  padding: 20px;
}
.fast-execution-white-box h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.fast-execution-white-box p {
  width: 220px;
  font-size: 16px;
  line-height: 24px;
}

.read-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: inherit;
  border: none;
  color: #355efc;
  cursor: pointer;
}

.fast-execution-blue-box {
  width: 260px;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  border-radius: 0.9375rem;
  border: 1px solid #909de2;
  padding: 20px;
  background-color: #355efc;
}

.fast-execution-blue-box h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.fast-execution-blue-box p {
  width: 220px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.read-more-blue-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  background-color: inherit;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

/* .our-services-section */

.our-services-section {
  margin-top: 98px;
}

.our-services-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.our-services-button {
  padding: 10px 15px;
  border: 1px solid #cad2fc;
  border-radius: 11px;
  background-color: inherit;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.36);
  font-weight: 400px;
  font-size: 16px;
  color: #355efc;
}

.our-services-wrapper h2 {
  font: weight 700px;
  font-size: 48px;
  text-align: center;
  color: #011a41;
  width: 542px;
  margin-top: 22px;
}

.financial-planning-container {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 355px 347px 355px;
  gap: 16px;
}

.financial-planning-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
}

.financial-planning-rows > div {
  border: 1px solid #909de2;
  display: flex;
  gap: 15px;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
}

.service-experience {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}
.service-advanteges {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.service-advanteges div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.read-more-service-button {
  color: #f5f5f5;
  font-weight: 700px;
  font-size: 16px;
  background-color: #355efc;
  padding: 10px 25px 10px 25px;
  width: 136px;
  height: 44px;
  border-radius: 10px;
  border: none;
}

/* contact-form */
